/* engagement: uniquement pour le H1 */
@font-face {
    font-family: "Engagement";
    src: url("../fonts/Engagement/Engagement-Regular.ttf");
}

/* Milonga-Regular titres sauf h1 */
@font-face {
    font-family: "Milonga";
    src: url("../fonts/Milonga/Milonga-Regular.ttf");
}

/* Unna-Regular paragraphes */
@font-face {
    font-family: "Unna";
    src: url("../fonts/Unna/Unna-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    background: black;
    color: #999;
    font-family: 'Unna';
    font-size: 32px;
    font-weight: 400;
    line-height: 1.1;
}

#home {
    height: 100vh !important;
}

#about,
#contact,
#portfolio,
footer {
    height: auto !important;
}

h2,
h3,
h4 {
    color: white;
    font-weight: bold;
    font-family: "Milonga";
}

#about,
#portfolio,
#contact {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* remplir le README.md ds le projet github */
#home {
    background: url('../images/Lines_stripes.jpg');
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#home h1 {
    font-family: "Engagement";
    font-size: 120px;
    color: #D43F52;
    display: inline-block;
    letter-spacing: 6px;
    padding: 25px 35px;
    margin: 30px 0;
}

.btn {
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    padding-top: 18px;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background: #D43F52;
    border-color: transparent;
}

#about h4 {
    padding: 15px 0;
    color: #D43F52;
}

#about .progress {
    border-radius: 4px;
    height: 4px;
}

#about .progress .progress-bar-danger {
    background: #D43F52;
}

#about .text-top {
    padding-top: 50px;
}

#about span {
    color: white;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
}

#about small {
    font-weight: bold;
    float: right;
}

#portfolio {
    background: #1a1a1a;
    text-align: center;
    font-size: 20px;
}

#portfolio h2 {
    padding-bottom: 30px;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #D43F52;
    color: #090909;
    border-radius: 30px;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(0.9);
}

#contact address {
    padding-bottom: 18px;
}

#contact .contact-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: white;
}

#contact .fa {
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    color: #D43F52;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin-right: 20px;
}

#contact .form-control {
    background: transparent;
    border: 2px solid #999;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

footer {
    border-top: 1px solid #090909;
    text-align: center;
}

/* .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border-radius: 50%;
    color: #606060;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin-right: 10px;
}

.social-icon li a:hover {
    color: #D43F52;
} */

.StyleModal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 30, 30, .75);
}

.StyleModal:target {
    visibility: visible;
    opacity: 1;
    /* scale= taille finale */
    /* transform: scale(1.3); */
    /* transition: opacity 500ms 300ms ease, transform 500ms 300ms ease; */
    transition: opacity 500ms 300ms ease;
}

.modal_content {
    border-radius: 20px;
    position: relative;
    background: center/cover url("../images/CV BBrocard.png");
    /* cv origine: 1404 X 2000*/
    width: 468px;
    height: 667px;
}

.ModalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 20px;
}

.ModalClose:hover {
    color: black;
}

/* Billes de navigation */
.fp-section {
    position: relative;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}

#fp-nav.right {
    right: 17px;
}

#fp-nav.left {
    left: 17px;
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}

.fp-slidesNav ul li {
    display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}